[user]
	name = THEtheChad
	email = chad.d.elliott@gmail.com
[core]
	excludesfile = /Users/THEtheChad/Configs/.gitignore
[github]
  user = THEtheChad
[color]
  ui = always
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  type = cat-file -t
  dump = cat-file -p